[submodule "third_party/OpenCL"]
	path = third_party/OpenCL
	url = https://github.com/a0910257137/OpenCL.git
[submodule "third_party/OpenCV"]
	path = third_party/OpenCV
	url = https://github.com/a0910257137/OpenCV.git
[submodule "third_party/tensorflow"]
	path = third_party/tensorflow
	url = https://github.com/a0910257137/tensorflow.git
[submodule "tensorflow-lite"]
	path = tensorflow-lite
	url = https://github.com/a0910257137/tensorflow-lite.git
[submodule "third_party/tensorflow-lite"]
	path = third_party/tensorflow-lite
	url = https://github.com/a0910257137/tensorflow-lite.git
